:root {
}

.Button {
    background-image: url("project://database/Assets/Sprites/UI/Button_Main_Menu_Normal.png?fileID=2800000&guid=ce6c0be899240e34d86cc4f0acbf3b6c&type=3#Button_Main_Menu_Normal");
    background-color: rgba(0, 0, 0, 0);
    width: 354px;
    height: 150px;
    -unity-text-align: middle-center;
    white-space: normal;
    text-overflow: clip;
}

.Button:hover {
    background-image: url("project://database/Assets/Sprites/UI/Button_Main_Menu_Hover.png?fileID=2800000&guid=19734f6979ccecc4283e70c50bd20ee9&type=3#Button_Main_Menu_Hover");
    background-color: rgba(0, 0, 0, 0);
    width: 354px;
    height: 150px;
    -unity-text-align: middle-center;
    white-space: normal;
    text-overflow: clip;
}

.Button:active {
    background-image: url("project://database/Assets/Sprites/UI/Button_Main_Menu_Clicked.png?fileID=2800000&guid=7521de96d020f704c927cd297cb2376a&type=3#Button_Main_Menu_Clicked");
    background-color: rgba(0, 0, 0, 0);
    width: 354px;
    height: 150px;
    -unity-text-align: middle-center;
    white-space: normal;
    text-overflow: clip;
}
