:root {
}



.Button {
    background-image: url("project://database/Assets/Sprites/Zeichenflache_2.png?fileID=2800000&guid=a2a0086f6bb045e498767aaf4ef3f75b&type=3#Zeichenflache_2");
    background-color: rgba(188, 188, 188, 0);
    margin-top: -30px;
    margin-bottom: -30px;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    width: 721px;
    height: 229px;
    scale: 0.4 0.65;
    background-size: 100% 100%;
    -unity-slice-scale: 0;
    -unity-text-auto-size: none;
    -unity-font-definition: initial;
    font-size: 25px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    white-space: normal;
    translate: 0 0;
}



.Button:hover {
    background-image: url("project://database/Assets/Sprites/Zeichenflache_1.png?fileID=2800000&guid=f86bdc2406fcaf9459082f4131b0ac67&type=3#Zeichenflache_1");
    background-color: rgba(188, 188, 188, 0);
    margin-top: -20px;
    margin-bottom: -20px;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    width: 721px;
    height: 229px;
    scale: 0.4 0.65;
    background-size: 100% 100%;
    -unity-slice-scale: 0;
    -unity-text-auto-size: none;
    -unity-font-definition: initial;
    font-size: 25px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    white-space: normal;
}

.Button:active {
    background-image: url("project://database/Assets/Sprites/Zeichenflache_3.png?fileID=2800000&guid=ecfe7ff9c56416947affa3537a87232e&type=3#Zeichenflache_3");
    background-color: rgba(188, 188, 188, 0);
    margin-top: -20px;
    margin-bottom: -20px;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    width: 721px;
    height: 229px;
    scale: 0.4 0.65;
    background-size: 100% 100%;
    -unity-slice-scale: 0;
    -unity-text-auto-size: none;
    -unity-font-definition: initial;
    font-size: 25px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    white-space: normal;
}
